<ul id="sidebarnav">
  <li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">Home</span>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" href="./home" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
      <span class="hide-menu">Dashboard</span>
    </a>
  </li>
  <li class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">UTILITIES</span>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" href="./client" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
      <span class="hide-menu">Clients</span>
    </a>
  </li>
  <li class="sidebar-item">
    <a class="sidebar-link" href="./simulations" aria-expanded="false">
                <span>
                  <i class="ti ti-cards"></i>
                </span>
      <span class="hide-menu">Simulation</span>
    </a>
  </li>
  <li *ngIf="authService.getRole() == 'ADMIN'" class="nav-small-cap">
    <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
    <span class="hide-menu">ADMINISTRATION</span>
  </li>
  <li *ngIf="authService.getRole() == 'ADMIN'" class="sidebar-item">
    <a class="sidebar-link" href="./users" aria-expanded="false">
                <span>
                  <i class="ti ti-user-plus"></i>
                </span>
      <span class="hide-menu">Users</span>
    </a>
  </li>
</ul>
